.mission-container {
  margin-left: 100px;
  margin-top: 20px;
  width: 40%;
  min-height: 100px;
}

.joinedMission {
  margin-top: 5px;
}

ul {
  list-style: none;
  border: 1px solid #ccc;
}

li {
  height: 50px;
  border-bottom: 1px solid #ccc;
  padding-left: 15px;
  padding-top: 15px;
}

.no-mission {
  height: 30px;
  width: 90%;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 10px;
}
